extends layout

block content
    h1= "Hello, " +  user.username
    br
    h2 Activities you have added to calendar:
    ul#activities-added-to-calendar
        each activity in user.activitiesAddedToCalendar
            li
                a(href='/activities/#{activity.name}') #{activity.name}

    br
    h2 Recommended activities based on you and your partner's preferences:
    h3 Restaurants:
    ul#recommended-restaurants
    h3 Movies:
    ul#recommended-movies
    h3 Events:
    ul#recommended-events